body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    position: relative;
    background-color: #fff;
    font-family: Tahoma;
    font-size: 10pt;
}
* html .maket {
    height: 100%;
}
.maket {
    width: 100%;
    margin: 0 auto;
    min-height: 100%;
}
.panel-ball {
    position: absolute;
    width: 284px;
    height: 284px;
    display: block;
    top: 50%;
    left: 50%;
    margin-top: -192px;
    margin-left: -142px;
    background-image: url(ball.svg);
}
.panel-text {
    width: 150px;
    height: 150px;
    top: 50%;
    left: 50%;
    margin-top: 2px;
    margin-left: -75px;
    position: absolute;
    text-align: center;
    color: #fff;
    top: 96px;
    font-size: 8pt;
    cursor: pointer;
    background-image: url(triangle.svg);
}

#menu {
    text-align: center;
    height: 28px;
    margin-top: -28px;
    position: relative;
    display: block;
}

a {
    color: #00f;
}
